<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>ABOUT US</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text text-center">ABOUT US</h2>
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="card-text">
                    <p>Forging Relationships with Artists and collectors </p>
                    <p>As a premier art Gallery in hyderabad .art Gallery promotes and show cases the work of hundreds of artists.Our work involves show casing new and emerging artists along side classic, well established peices. By providing a space in which to display their latest works artist appreciate our roll in sharing their creative aspirations with a wider audience. Come check us out for your self</p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="g4.jpg" alt="" style="width: 350px;">
            </div>
        </div>
    </div>
</body>
</html>