<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>CONTACT US</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row  d-flex justify-content-center">
            <div class="card">
                <div class="col-lg-6">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">NAME</th>
                            <th scope="col">CONTACT</th>
                            <th scope="col">EMAIL</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Ganendhar</td>
                            <td>8179756802</td>
                            <td>Ganendhar@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Vijay</td>
                            <td>817236809</td>
                            <td>Vijay@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Manasa</td>
                            <td> 8179796802</td>
                            <td>Manasa@gmail.com</td>
                          </tr>

                          <tr>
                            <th scope="row">4</th>
                            <td>Usha</td>
                            <td> 8179796802</td>
                            <td>Usha@gmail.com</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>