<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Welcome | ArtGalleryExpo</title>
    
</head>
<body>
    
    <div class="container">
        <h1 class="text">Welcome @</h1>
        <div class="row">
            {{!-- getting the logged in user details --}}
        
        </div>
    </div>
</body>
</html>