<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Art Gallery Expo</title>
</head>
<body>
    <!-- navigation bar starts from here -->
   {{>navbar}}
    <!-- navigation ends here -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum, dolore sequi, amet voluptas tempore eius qui iusto deleniti architecto tempora, 
                        praesentium repellat? Aspernatur, id iusto beatae laudantium perspiciatis doloribus?
                    </div>
                    <div class="user-content">
                        <p class="text">Name : Goutham</p>
                        <p class="text">Email : abc@gmail.com</p>
                        <p class="text">Mobile : +91 1234567890</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="" class="nav-link">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Email Us</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</body>
</html>