<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>Art Gallery Expo | Sign in</title>
</head>
<body>
 {{>navbar}}
    <div class="container">
       
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body py-5">
                    <form action="/login" method="POST">
                        
                        <input type="email" class="form-control my-3" placeholder="Enter your email" name="useremail"required>
                        <input type="password" class="form-control my-3" placeholder="Enter your password" name="userpassword"required>
                        <button type="submit" class="btn btn-dark btn-md"> Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>