<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
    <title>Art Gallery Expo | Sign in</title>
    <style>
      .card{
        box-shadow: -20px 10px 20px grey;
          
      }
      .login{
       
      font-family: 'Teko', sans-serif;
        color:rgb(20, 7, 20);
        /*margin-top:80px;*/
        font-size: 50px;
       text-shadow: -2px 1px 3px grey; 
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Art Gallery Expo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/about us">About Us</a>
            </li>
            
          </ul>
        </div>
      </nav>
    <div class="container card mt-5">
       
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body py-5">
                  <p class="login text-center">LOGIN HERE</p>
                    <form action="/login" method="POST" class="mt-5 ml-5">
                        
                        <input type="email" class="form-control my-3" placeholder="Enter your email" name="useremail"required>
                        <input type="password" class="form-control my-3" placeholder="Enter your password" name="userpassword"required>
                        <button type="submit" class="btn btn-dark btn-md"> Login</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 mt-5">
              
              <img src="login-image.png" alt="" style="width: 300px;">
            </div>
        </div>
    </div>
    <img src="./first.jpg" alt="">
</body>
</html>