<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <title>Welcome | ArtGalleryExpo</title>
</head>
<body>
    {{>registerd_navbar}}
    <div class="container">
        <h3 class="text text-center text-info">POST SOMETHING HERE..</h3>
        <div class="row">
            {{!-- getting the logged in user details --}}
            <div class="col-lg-8">
            <form method="POST" action="/Posts" enctype="multipart/form-data">
            <div class="col-lg-8">
            
                    <input type="text" class="form-control" name="author"  placeholder="What is the name of the post">
                

            </div>
            <div class="col-lg-8">
               <textarea name="desc" id="" cols="30" rows="10" class="form-control"placeholder="Write someting here.."></textarea>
            </div>
            <div class="col-lg-8">
                <input type="file" class="form-control" name="image" multiple>
            </div>
            <button type="submit" class="btn btn-success">Submits</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>