<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="row">
    <h1 style="text-align: center;">Add New Comment to <%= foundComment.name %></h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/comments/new" method="POST">
            
               <input type="text" name="usercomment" placeholder="Enter your comment">
                <input type="text" name="username" placeholder="Enter your name">
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
        <a href="/viewAll">Go Back</a>
    </div>
</div>

</body>
</html>
